@using BlazorChess.Shared
@using Microsoft.Extensions.Logging
@using System.Reflection.Metadata
@inject ILogger<Chessboard> _logger
@{
	const string lightColour = "#bcbcbc";
	const string darkColour = "#777777";
}

<div class="chessboard">
	@for (var i = 0; i < 64; i++)
	{
		var j = i;
		<div class="chessboard-cell"
		     @ondragenter="@(e => { HandleDragEnter(e, j); })"
		     @ondragleave="@(e => { HandleDragLeave(e, j); })"
		     ondragover="event.preventDefault();"
		     ondragstart="event.dataTransfer.setData('', event.target.id);"
		     @ondrop="@(e => { HandleDrop(e, j); })"
		     style="background-color: @(i % 2 == (i / 8 % 2 == 0 ? 0 : 1) ? lightColour : darkColour)">
			<span draggable="true" style="cursor: grab" @ondragstart="@(e => { HandleDragStart(e, j); })">
				@Board?.Cells.ElementAtOrDefault(i)?.Character
			</span>
		</div>
	}
</div>

@code {
	[Parameter]
	public ChessGame Game { get; set; }
	private ChessBoard Board => Game.Board;
	private int? _draggingIndex = null;

	// Drag and drop stuff
	void HandleDragEnter(DragEventArgs e, int i) { }
	void HandleDragLeave(DragEventArgs e, int i) { }
	void HandleDragStart(DragEventArgs e, int i)
	{
		_draggingIndex = i;
		var cell = Board.Cells[_draggingIndex.Value];
		Console.WriteLine($"Began dragging piece #{_draggingIndex} ({cell.Character})");
	}

	void HandleDrop(DragEventArgs e, int i)
	{
		if (_draggingIndex == null) return;
		Console.WriteLine($"Dropped piece #{_draggingIndex} ({Board.Cells[_draggingIndex.Value].Character}) onto cell #{i}");

		if (ChessProcessor.MoveIsValid(Board, _draggingIndex.Value, i))
		{
			Console.WriteLine("Move is allowed");
			MovePiece(_draggingIndex.Value, i);
		}
		else
			Console.WriteLine("Move is not allowed");
		
		
		_draggingIndex = null;
	}

	void MovePiece(int startIndex, int endIndex)
	{
		var pieceToMove = Board.Cells[startIndex];
		Board.Cells[startIndex] = new();
		if (Board.Cells[endIndex].Piece.HasValue) TakePiece(endIndex);
		Board.Cells[endIndex] = pieceToMove;
	}

	void TakePiece(int pieceIndex)
	{
		Console.WriteLine($"Taken piece #{pieceIndex}");
	// ReSharper disable PossibleInvalidOperationException
		if (Board.Cells[pieceIndex].IsBlack) Game.TakenByWhite.Add(Board.Cells[pieceIndex].Piece.Value);
		else Game.TakenByBlack.Add(Board.Cells[pieceIndex].Piece.Value);
	// ReSharper restore PossibleInvalidOperationException
	}
}